
#thirdDiv {
  height: 600px;
  width: 500px;
  background: linear-gradient(30deg, #CCFFFF, #ec7373);
  padding: 29px 66px 69px 28px;
  border-radius: 20px;
  border-color:lightslategray;
  font-weight: bold;

}

#spanId {
  font-size: 18px;
  color:black;
}

.divClass {
    text-align: center;
    font-weight:bold;
    background: linear-gradient(50deg, #CCFFFF, #FFCCCC);
    border-radius: 10px;
    width: 67%;
    margin: 27px auto;
    padding: 10px;

}
h1 {
  color: indigo;
}
img {
  width: 400px;
  padding-left: 5px;
}
#nolist {
  list-style: none;
  text-align: center;
}

.container{
    background-image: url("https://images.unsplash.com/photo-1522775417749-29284fb89f43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80");
    padding: 100px 100px;
    background-position: left;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: grid;
    justify-content: center;
    align-items: center;
   


}
p{
    font-weight: bold;
}